
.CTableContainer {
  width: 100%;
  padding: 16px;

  .table {
    width: 100%;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #E5E9EB;
    position: relative;
    
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;

      td {
        border-bottom: 1px solid #E5E9EB;
        border-left: 1px solid #E5E9EB;
      }
      
      // tr td:first-child {
      //   border-left: none;
      // }

      tr:last-child td {
        // border-bottom: none;
      }
    
    }



  }
}

.CTableHead {
  position: sticky;
  top: 0;
  background-color: #f4f6fa91;
  z-index: 2;

  tr td {
    border-bottom: 1px solid #E5E9EB !important;
    font-weight: bold;
  }

}

.CTableCell {
  padding: 16px;
  text-align: center;
}

.CTableRow {
  cursor: pointer;
  transition-duration: .2s;
  
  &:nth-of-type(even)  {

    &:hover td {
      background-color: #F5FBFF;
    }

    td {
      background-color: #f4f6fa91;
    }
    
  }

  &:hover {
    background-color: rgba(#F5FBFF, 1) !important;
  }
}

.CTableBody {
  position: relative;
  z-index: 1;
}
