

.page {
  padding: 20px;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.item {
  width: 250px;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 7%);
}

.itemName {
  margin-bottom: 10px;
  
}

.price {
  font-weight: bold;
  margin-bottom: 40px;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  margin: 0 20px;
}

